CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
accelerate_config.yaml
all_output_logs/
cached_folder/
cached_folder2/
cached_folder_real/
cached_folder_syn2/
dataset/__init__.py
helper_scripts/
model_weights/
model_weights3/
model_weights_all_json/
model_weights_all_json2/
real_output/
real_output2/
real_output2_all_json/
real_output2_all_json2/
real_output2_all_json3/
share-captioner_coco_lcs_sam_1246k_1107.json
slurm_scripts/
utilities/__init__.py
verification_files/
