wheel==0.47.0
filelock==3.29.7
nvidia-cuda-cupti==13.0.85
nvidia-cufft==12.0.0.61
nvidia-nccl-cu13==2.29.7
peft==0.11.1
urllib3==2.7.0
wandb==0.28.0
smmap==5.0.3
kiwisolver==1.5.0
six==1.17.0
idna==3.18
shellingham==1.5.4
cuda-toolkit==13.0.3.0
yarl==1.24.2
nvidia-nvshmem-cu13==3.4.5
propcache==0.5.2
fastapi==0.139.0
markdown-it-py==4.2.0
multiprocess==0.70.19
sympy==1.14.0
pip==26.1.2
pandas==2.3.3
accelerate==0.34.1
pydub==0.25.1
attrs==26.1.0
nvidia-cuda-nvrtc==13.0.88
packaging==26.0
tqdm==4.68.4
charset-normalizer==3.4.9
cuda-pathfinder==1.5.6
pydantic_core==2.46.4
networkx==3.4.2
matplotlib==3.10.9
PyYAML==6.0.3
click==8.4.2
regex==2026.7.10
nvidia-cuda-runtime==13.0.96
triton==3.7.1
qwen-vl-utils==0.0.14
protobuf==7.35.1
fsspec==2026.4.0
ftfy==6.3.1
starlette==1.3.1
nvidia-cusparselt-cu13==0.8.1
nvidia-curand==10.4.0.35
cycler==0.12.1
pydantic==2.13.4
gradio_client==2.5.0
tzdata==2026.3
exceptiongroup==1.3.1
anyio==4.14.2
typing-inspection==0.4.2
hf-xet==1.5.1
httpx==0.28.1
transformers==4.48.2
pyparsing==3.3.2
fonttools==4.63.0
xxhash==3.8.1
nvidia-nvtx==13.0.85
annotated-doc==0.0.4
safetensors==0.8.0
cuda-bindings==13.3.1
httpcore==1.0.9
gradio==6.17.3
MarkupSafe==3.0.3
wcwidth==0.8.2
h11==0.16.0
gitdb==4.0.12
orjson==3.11.9
grpcio==1.82.1
aiosignal==1.4.0
datasets==5.0.0
uvicorn==0.51.0
aiohappyeyeballs==2.7.1
nvidia-cublas==13.1.1.3
tomlkit==0.14.0
frozenlist==1.8.0
groovy==0.1.2
nvidia-cudnn-cu13==9.20.0.48
pytz==2026.2
multidict==6.7.1
torchvision==0.28.0
sentencepiece==0.2.2
typing_extensions==4.16.0
rich==15.0.0
pyarrow==25.0.0
nvidia-cusparse==12.6.3.3
aiohttp==3.14.1
nvidia-cufile==1.15.1.6
GitPython==3.1.51
dill==0.4.1
python-multipart==0.0.32
tokenizers==0.21.4
setuptools==83.0.0
Werkzeug==3.1.8
psutil==7.2.2
semantic-version==2.10.0
torch==2.13.0
platformdirs==4.10.0
av==17.1.0
requests==2.34.2
brotli==1.2.0
typer==0.26.8
Jinja2==3.1.6
Pygments==2.20.0
contourpy==1.3.2
annotated-types==0.7.0
python-dateutil==2.9.0.post0
absl-py==2.5.0
tensorboard-data-server==0.7.2
certifi==2026.6.17
pillow==12.3.0
mpmath==1.3.0
tensorboard==2.21.0
mdurl==0.1.2
huggingface_hub==0.36.2
nvidia-cusolver==12.0.4.66
hf-gradio==0.4.1
numpy==2.2.6
async-timeout==5.0.1
Markdown==3.10.2
nvidia-nvjitlink==13.3.33
sentry-sdk==2.65.0
safehttpx==0.1.7
backports.tarfile==1.2.0
autocommand==2.2.2
zipp==3.23.0
packaging==26.0
jaraco.context==6.1.0
more-itertools==10.8.0
platformdirs==4.4.0
importlib_metadata==8.7.1
wheel==0.46.3
tomli==2.4.0
jaraco.functools==4.4.0
jaraco.text==4.0.0
